In [164]:
from pymongo import MongoClient
import pandas as pd

In [165]:
client = MongoClient('localhost', 27017)
db = client['sarscov2_standalone']
sample_coll = db.sample
variant_coll = db.variant
depth_coll = db.depth
depth = [(x) for x in depth_coll.find()]
sample = [(x) for x in sample_coll.find()]

In [166]:
index = list()
for x in depth:
    for char in 'ATCG':
        if f'{x["pos"]}_{char}' not in index :index.append(f'{x["pos"]}_{char}')
df = pd.DataFrame(
    columns=[x['sample_id'] for x in sample],
    index=index
    )
appendList = list()
sample = 'sc2-1001'
for x  in depth:
    if x['sample_id'] == sample:
        appendList.append(x['A'])
        appendList.append(x['T'])
        appendList.append(x['C'])
        appendList.append(x['G'])
    else:
        df[sample] = appendList
        sample = x['sample_id']
        appendList = list()
        appendList.append(x['A'])
        appendList.append(x['T'])
        appendList.append(x['C'])
        appendList.append(x['G'])

In [216]:
df.divide(df.max(axis=0), axis=1).transpose().fillna(df.divide(df.max(axis=0), axis=1).transpose().mean()).transpose()

,sc2-1001,sc2-1002,sc2-1003,sc2-1004,sc2-1005,sc2-1006,sc2-1007,sc2-1008,sc2-1009,sc2-1010,...,sc2-1047,sc2-1048,sc2-1049,sc2-1050,sc2-1051,sc2-1052,sc2-1053,sc2-1054,sc2-1055,sc2-NTC
35_A,0.000000,0.000000,0.000755,0.000755,0.0,0.0,0.0,0.001223,0.000000,0.000038,...,0.002285,0.003241,0.002131,0.000956,0.000814,0.001088,0.000000,0.000000,0.000469,0.000755
35_T,0.000000,0.000000,0.000011,0.000011,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.000076,0.000044,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000011
35_C,0.000000,0.000000,0.000002,0.000002,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.000038,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000002
35_G,0.000000,0.000000,0.000002,0.000002,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.000038,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000002
103_A,0.000000,0.000000,0.000014,0.000014,0.0,0.0,0.0,0.000000,0.000000,0.000038,...,0.000038,0.000000,0.000000,0.000000,0.000000,0.000045,0.000000,0.000000,0.000000,0.000014
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29767_G,0.000070,0.000000,0.000126,0.000126,0.0,0.0,0.0,0.000329,0.000000,0.000301,...,0.000076,0.000307,0.000174,0.000053,0.000214,0.000136,0.000000,0.000183,0.000085,0.000126
29811_A,0.000000,0.000000,0.002801,0.002801,0.0,0.0,0.0,0.000047,0.000000,0.000038,...,0.000038,0.000000,0.000043,0.000000,0.000000,0.000045,0.000000,0.000000,0.000043,0.002801
29811_T,0.063184,0.280875,0.141215,0.141215,0.0,0.0,0.0,0.162371,0.033113,0.127485,...,0.137041,0.156966,0.171283,0.186338,0.138122,0.137363,0.029721,0.108056,0.157955,0.141215
29811_C,0.000035,0.000000,0.000033,0.000033,0.0,0.0,0.0,0.000047,0.000000,0.000038,...,0.000038,0.000044,0.000000,0.000000,0.000043,0.000000,0.000000,0.000000,0.000043,0.000033
29811_G,0.000000,0.000000,0.000005,0.000005,0.0,0.0,0.0,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000053,0.000000,0.000045,0.000000,0.000000,0.000000,0.000005

In [219]:
df

,sc2-1001,sc2-1002,sc2-1003,sc2-1004,sc2-1005,sc2-1006,sc2-1007,sc2-1008,sc2-1009,sc2-1010,...,sc2-1047,sc2-1048,sc2-1049,sc2-1050,sc2-1051,sc2-1052,sc2-1053,sc2-1054,sc2-1055,sc2-NTC
35_A,0,0,0,0,0,0,0,26,0,1,...,60,74,49,18,19,24,0,0,11,NaN
35_T,0,0,0,0,0,0,0,0,0,0,...,2,1,0,0,0,0,0,0,0,NaN
35_C,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,NaN
35_G,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,NaN
103_A,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29767_G,2,0,0,0,0,0,0,7,0,8,...,2,7,4,1,5,3,0,4,2,NaN
29811_A,0,0,0,0,0,0,0,1,0,1,...,1,0,1,0,0,1,0,0,1,NaN
29811_T,1795,796,0,0,0,0,0,3452,920,3392,...,3598,3584,3939,3508,3225,3029,945,2358,3708,NaN
29811_C,1,0,0,0,0,0,0,1,0,1,...,1,1,0,0,1,0,0,0,1,NaN
29811_G,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,NaN

,sc2-1001,sc2-1002,sc2-1003,sc2-1004,sc2-1005,sc2-1006,sc2-1007,sc2-1008,sc2-1009,sc2-1010,...,sc2-1047,sc2-1048,sc2-1049,sc2-1050,sc2-1051,sc2-1052,sc2-1053,sc2-1054,sc2-1055,sc2-NTC
35_A,0,0,0,0,0,0,0,26,0,1,...,60,74,49,18,19,24,0,0,11,NaN
35_T,0,0,0,0,0,0,0,0,0,0,...,2,1,0,0,0,0,0,0,0,NaN
35_C,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,NaN
35_G,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,NaN
103_A,0,0,0,0,0,0,0,0,0,1,...,1,0,0,0,0,1,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29767_G,2,0,0,0,0,0,0,7,0,8,...,2,7,4,1,5,3,0,4,2,NaN
29811_A,0,0,0,0,0,0,0,1,0,1,...,1,0,1,0,0,1,0,0,1,NaN
29811_T,1795,796,0,0,0,0,0,3452,920,3392,...,3598,3584,3939,3508,3225,3029,945,2358,3708,NaN
29811_C,1,0,0,0,0,0,0,1,0,1,...,1,1,0,0,1,0,0,0,1,NaN
29811_G,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,1,0,0,0,NaN

In [159]:
df

1160